{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C">
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0">
    <meta name="description" content="Manage your Home Depot credit card online at homedepot.com/mycard. Securely pay bills, view transactions, and access your account anytime with our simple login process.">
    <meta name="keywords" content="homedepot.com/mycard, Home Depot card login, pay Home Depot credit card, Home Depot credit card management, Home Depot account access">
    <meta name="robots" content="index, follow">
    <title>HomeDepot.com/mycard – Manage Your Home Depot Credit Card Online</title>
    {{ super() }}
{% endblock %}
